[D-BUS Service]
Name=org.freedesktop.impl.portal.desktop.zenzai
Exec=/home/christopher/dev/xdg-desktop-portal-porta/target/debug/xdg-desktop-portal-zenzai
SystemdService=xdg-desktop-portal-zenzai.service
